<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Admin Panel</title>
        <link rel="stylesheet" href="<?php echo base_url(); ?>assets/admin/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="<?php echo base_url(); ?>assets/admin/css/simple-line-icons.css">
        <link rel="stylesheet" href="<?php echo base_url(); ?>assets/admin/css/style.css">
        <link rel="shortcut icon" href="<?php echo base_url(); ?>assets/admin/images/favicon.png" />
    </head>

    <body class="my-login-page">
        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-md-center h-100">
                    <div class="card-wrapper">
                        <div class="brand">
                            <img src="images/logo.png">
                        </div>
                        <div class="card fat">
                            <div class="card-body">
                                <h4 class="card-title">Login</h4>
                                <form method="POST">

                                    <div class="form-group">

                                        <input id="email" type="email" class="form-control" name="email" value="" required="" autofocus="" placeholder="Username">
                                    </div>

                                    <div class="form-group">
                                        <input id="password" type="password" class="form-control" name="password" required="" data-eye="" placeholder="Password">
                                    </div>

                                    <div class="form-group mt-4">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Login
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="footer text-center text-muted">
                            Copyright © 2018 — <a href="http://www.fruxinfo.com" target="_blank">Fruxinfo Pvt Ltd</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <script src="<?php echo base_url(); ?>assets/admin/js/jquery-1.11.1.js"></script>
        <script src="<?php echo base_url(); ?>assets/admin/js/bootstrap.min.js"></script>
    </body>

</html>